.vs/

# Ignore EF Core migrations in Infrastructure project
Backend/GH2-Main/Infrastructure/Migrations/
# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.log

# VS files
.vs/
*.user
*.suo

# SonarQube
.sonarqube/